*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

a:link, a:active, a:visited {
  color: #af670a;
}

a:hover {
  color: #227115;
}