body {
  background: #f4f2ec url(../image/fundo.png) repeat-x;
  font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
  width: 1080px;
  margin: 0 auto;
}

#logo h1 {
  float: left;
}

#logo a {
  width: 248px;
  height: 21px;
  text-indent: -9999px;
  display: block;
  background: url(../image/logo.png) no-repeat;
}

header {
  height: 55px;
  padding: 15px 0;
}

nav ul {
  float: right;
  margin: 20px;
}

nav ul li {
  float: left;
}

nav ul li a:link {
  display: block;
  margin-right: 20px;
  padding-bottom: 3px;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 2px solid #535858;
}